---
import { SEO } from "astro-seo";


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
    </style>
    <link rel="stylesheet" href="./dsylexic.css" />
    <script>
      if (localStorage.getItem("use-dyslexic-font") === "true") {
        document.documentElement.classList.add("dyslexic");
      }
    </script>
        <SEO
        title="Saahils blog"
        description="My Blogs"
        openGraph={{
          basic: {
            title: "Saahils Blog",
            type: "blog",
            image: "/og.png",
          },
          optional: {
            locale: "en_US",
            description: "My Blogs",
            siteName: "Saahils Blog",
          },
        }}
        charset="utf-8"
        titleDefault="Saahils Blog"
        extend={{
          // extending the default link tags
          link: [{ rel: "icon", href: "/favicon.ico" }],
          meta: [
            { name: "theme-color", content: "#cba6f7" },
            { name: "title", content: "Saahils Blog" },
            { name: "msapplication-TileColor", content: "#cba6f7" },
          ],
        }}
      />
  </head>
  <body>
    <main>
      <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">404</h1>
            <p class="py-6">The page you are looking for does not exist.</p>
            <button class="btn btn-primary" onclick="window.history.back()"
              >Go back</button
            >
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
